<nav class="navbar  navbar-light bg-warning">
    <div class="container-fluid ">
      <a class="navbar-brand" style="font-family: cursive; font-size: 2rem;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
      <div class="container" style="text-align: right; font-size: 1.4rem;">
        Click here &#10145;&#65039;
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
          </li>
      </ul>
      <div class="mb-2">
        <form class="d-flex flex-row-reverse "> 
          <div class="p-2">
            <a routerLink="/register" class="btn btn-danger mt-3" *ngIf="isShow">Register</a> 
          </div>
          <div class="mb-2"></div>
          <div class="p-2">
            <a routerLink="/login" class="btn btn-primary mt-3" *ngIf="isShow">Login</a>
          </div>

        </form>
      </div>      
    </div>
  </div>
</nav>
