<app-nav></app-nav>
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="home.component.css">  
    </head>
    <body>
        <div class="mb-5 container card-body shadow" style="font-size: 2.5rem; text-align: center; font-weight: bolder; ">CONTACT MANAGER</div>
        <div class="container card-header" style="font-size: 1.8rem; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            > An API based solution for saving your contacts without any hassle.
            <br>> Login securely, and access your contacts with ease!
            <br><br>
            <form class="d-flex flex-row p-4">
                Hurry and register yourself!
            </form> 
        </div>
    </body>

</html>


